.header-title {
    background: url(../imgs/all.png);
    position: relative;
    background-position: center;
    background-size: cover;
}

.header-title .container {
    height: 184px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-title .container h3 {
    padding: 1rem 0;
    color: #fff;
    font-size: 1.5rem;
    font-family: "ArbFONTS";
    font-weight: 600;
}

.header-title .container h3 i {
    font-size: 1rem;
    padding-left: 0.5rem;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .header-title {
        display: none;
    }
}

#pagingControls {
    text-align: center !important;
    padding-top: 2rem !important;
    color: #0d8bca !important;
    margin-left: 2rem;

}

#pagingControls ul {
    display: inline-block !important;
    color: #0d8bca !important;
}

#pagingControls li {
    display: inline-block !important;
    color: #0d8bca !important;
}


.news-section {
    padding: 3rem 0;
    -webkit-animation: fadeEffect 2s;
    animation: fadeEffect 2s;
}

.news-section #news {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

.news-section #news .result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 19rem;
    box-shadow: #051e2b 0px 25px 20px -20px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.news-section #news .result .img-news {
    width: 100%;
    height: 250px;
    border: 3px solid #0d8bca;
    border-radius: 10px 10px 0 0;
}

.news-section #news .result .img-news img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.news-section #news .result .info-news h3 {
    font-size: 15px;
    font-weight: 700;
    padding: 0.5rem;
}

.news-section #news .result .info-news p {
    font-size: 14px;
    padding: 0 0.5rem;
}

.news-section #news .result .time-news {
    background: #0d8bca;
    color: #fff;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0.5rem;
    width: 100%;
}

.news-section #news .result .time-news span a {
    text-decoration: none;
    color: #fff;
    width: 100%;
}

@media (max-width: 1402.5px) {
    #news .result {
        width: 17rem !important;
    }
}

@media (max-width: 991.5px) {
    #news .result {
        width: 100% !important;
    }
}

@media (max-width: 575.5px) {
    #news {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #news .result {
        width: 300px !important;
        margin: 0 !important;
    }
}

/*# sourceMappingURL=news.css.map */