.header-title {
    background: url(../imgs/all.png);
    position: relative;
    background-position: center;
    background-size: cover;
}

.header-title .container {
    height: 184px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-title .container h3 {
    padding: 1rem 0;
    color: #fff;
    font-size: 1.5rem;
    font-family: "ArbFONTS";
    font-weight: 600;
}

.header-title .container h3 i {
    font-size: 1rem;
    padding-left: 0.5rem;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.aboutPage {
    padding: 4rem 0;
}

.aboutPage .container-xl .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-animation: fadeEffect 2s;
    animation: fadeEffect 2s;
}

.aboutPage .container-xl .row div ul {
    color: #0d8bca;
    font-weight: 800;
}

.aboutPage .container-xl .row div ul i {
    padding-left: 0.5rem;
}

.aboutPage .container-xl .row div ul li {
    font-size: 1.1rem;
    font-weight: normal;
    padding-right: 1rem;
    line-height: 1.7rem;
    color: #000;
    font-family: "ArbFONTS";
}

.aboutPage .container-xl .row .about-and-img {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.aboutPage .container-xl .row .about-and-img ol {
    color: #0d8bca;
    font-weight: 800;
}

.aboutPage .container-xl .row .about-and-img ol i {
    padding-left: 0.5rem;
}

.aboutPage .container-xl .row .about-and-img ol li {
    font-size: 1.1rem;
    font-weight: normal;
    list-style: decimal-leading-zero;
    margin-right: 2.8rem;
    line-height: 1.7rem;
    color: #000;
    font-family: "ArbFONTS";
}

@media (max-width: 768px) {
    .header-title {
        display: none;
    }
}

@media (max-width: 540px) {
    .container-xl {
        margin: 0;
        padding: 0;
    }

    .container-xl .row {
        margin: 0;
        padding: 0;
    }

    .container-xl .row div {
        margin: 0;
        padding: 0;
    }

    .container-xl .row div .about-info {
        margin: 0;
        padding: 0;
    }

    .container-xl .row div .about-info ul {
        margin: 0;
        padding: 0;
        padding: 0.5rem;
    }

    .container-xl .row div .about-info ol {
        margin: 0;
        padding: 0;
        padding: 0.5rem;
    }
}

/*# sourceMappingURL=about.css.map */